/* Palette. */
:root {
	/* endesga 8 (https://lospec.com/palette-list/endesga-8) */
	--white: #fdfdf8;
	--red: #d32734;
	--orange: #da7d22;
	--yellow: #e6da29;
	--green: #28c641;
	--blue: #2d93dd;
	--purple: #7b53ad;
	--black: #1b1c33;

	/* gruvbox (https://github.com/morhetz/gruvbox)
	--white: #ebdbb2;
	--red: #fb4934;
	--orange: #fe8019;
	--yellow: #fabd2f;
	--green: #b8bb26;
	--blue: #83a598;
	--purple: #d3869b;
	--black: #282828;
	*/
}

::selection {
	background-color: var(--purple);
	color: var(--white);
}

/* Keeps the font consistent. */
* {
	font-family: 'Source Code Pro', monospace;
}

h1 {
	font-size: 24px;
}

/* Keeps the background of the page dark. */
body {
	background-color: var(--black);
}

/* Styling for each section / page. */
section {
	font-size: 12px;
	text-align: center;
	padding: 10px 100px;
	max-width: 600px;
	margin: 10px auto;
	background-color: var(--white);
	color: var(--black);
}

iframe, section {
	border: 2px solid;
}

a {
	text-decoration: none;
}

/* Keep sizing consistent*/
hr, .read-button {
	width: 100%;
}

/* Styling for the horizontal line. */
hr {
	border: 1px solid;
}

/* Add padding. */
mark, .link {
	padding: 0 1ch;
}

img, iframe {
	max-width: 100%;
}

img {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid;
}

/* Read article button. */
.read-button {
	display: inline-block;
	border: none;
}

/* Formatting for article information. */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.article-text {
	text-align: left;
}

/* Border colours. */
.borderRed { border-color: var(--red)}
.borderOrange { border-color: var(--orange)}
.borderYellow { border-color: var(--yellow)}
.borderGreen { border-color: var(--green)}
.borderBlue { border-color: var(--blue)}
.borderPurple { border-color: var(--purple)}
.borderBlack { border-color: var(--black)}

/* Outline colours. */
.red { background-color: var(--red); color: var(--white)}
.orange { background-color: var(--orange); color: var(--white)}
.yellow { background-color: var(--yellow); color: var(--black)}
.green { background-color: var(--green); color: var(--white)}
.blue { background-color: var(--blue); color: var(--white)}
.purple { background-color: var(--purple); color: var(--white)}
.black { background-color: var(--black); color: var(--white)}
.white { background-color: var(--white); color: var(--white)}